<aside class="menu">
    <p class="menu-label">
        Refine search
    </p>
    <ul class="menu-list">
        <li>
            <a>Books</a>
        </li>
        <li>
            <a>Music</a>
        </li>
        <li>
            <a>Videos</a>
        </li>
    </ul>
</aside>

<div class="modal" id="login-modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="content"><h4>Login</h4></div>
        <div class="field">
            <p class="control has-icons-left has-icons-right">
                <input class="input" type="email" placeholder="Email">
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                </span>
            </p>
        </div>
        <div class="field">
            <p class="control has-icons-left">
                <input class="input" type="password" placeholder="Password">
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </p>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>

<div class="modal" id="signup-modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="content"><h4>Sign up</h4></div>
        <div class="field">
            <p class="control has-icons-left has-icons-right">
                <input class="input" type="email" placeholder="Email">
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                </span>
            </p>
        </div>
        <div class="field">
            <p class="control has-icons-left">
                <input class="input" type="password" placeholder="Password">
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </p>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>