<table id="myTable" class="table tablesorter" cellspacing="0" cellpadding="0">
    <thead>
        <tr="heading">
            <th id="Medianame">
                <span>Name</span>
            </th>
            <th id="Media Type">
                <div class="dropdown is-active">
                    <div class="dropdown-trigger">
                        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                            <span>Media Type</span>
                            <span class="icon is-small">
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                            <a href="#" class="dropdown-item">
                                Books
                            </a>
                            <a class="dropdown-item">
                                Music
                            </a>
                            <a href="#" class="dropdown-item">
                                Video
                            </a>
                        </div>
                    </div>
                </div>
            </th>
            <th id="Genre">
                <span>Genre</span>
            </th>
            <th id="Rating">
                <span>Rating</span>
            </th>
            <th id="Release Year">
                <span>Year</span>
            </th>
            <th id="Time-Limit">
                <span>Due Date</span>
            </th>
            <th id="Cost">
                <span>Amount Due</span>
            </th>
            </tr>
    </thead>
    <tbody>
        <tr>
            <td class="Medianame lalign">Harry Potter and the Deathly Hallows</td>
            <td class="Media Type">Books</td>
            <td class="Genre">Children's Books</td>
            <td class="Rating">4.99</td>
            <td class="Release Year">2007</td>
            <td class="Time-Limit">05-25-2018</td>
            <td class="Cost">0.00</td>
        </tr>
        <tr>
            <td class="Medianame">Harry Potter and the Sorcerer's Stone</td>
            <td class="Media Type">Books</td>
            <td class="Genre">Children's Books</td>
            <td class="Rating">4.99</td>
            <td class="Release Year">1997</td>
            <td class="Time-Limit">05-25-2018</td>
            <td class="Cost">0.00</td>
        </tr>
        <tr>
            <td class="Medianame">Harry Potter and the Half-Blood Prince</td>
            <td class="Media Type">Books</td>
            <td class="Genre">Children's Books</td>
            <td class="Rating">4.99</td>
            <td class="Release Year">2005</td>
            <td class="Time-Limit">05-25-2018</td>
            <td class="Cost">0.00</td>
        </tr>
        <tr>
            <td class="Medianame">Harry Potter and the Goblet of Fire</td>
            <td class="Media Type">Books</td>
            <td class="Genre">Children's Books</td>
            <td class="Rating">4.99</td>
            <td class="Release Year">2000</td>
            <td class="Time-Limit">05-25-2018</td>
            <td class="Cost">0.00</td>
        </tr>
        <tr>
            <td class="Medianame">Harry Potter and the Chamber of Secrets</td>
            <td class="Media Type">Books</td>
            <td class="Genre">Children's Books</td>
            <td class="Rating">4.99</td>
            <td class="Release Year">1998</td>
            <td class="Time-Limit">05-25-2018</td>
            <td class="Cost">0.00</td>
        </tr>
        <tr>
            <td class="Medianame">Harry Potter and the Order of the Phoenix</td>
            <td class="Media Type">Books</td>
            <td class="Genre">Children's Books</td>
            <td class="Rating">4.99</td>
            <td class="Release Year">2003</td>
            <td class="Time-Limit">05-25-2018</td>
            <td class="Cost">0.00</td>
        </tr>
    </tbody>
</table>

<div class="modal" id="login-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Login</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="field">
                <p class="control has-icons-left has-icons-right">
                    <input class="input" type="email" placeholder="Email">
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                    <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control has-icons-left">
                    <input class="input" type="password" placeholder="Password">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </p>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-info" id="login-save-button">Save changes</button>
            <button class="button cancel-button">Cancel</button>
        </footer>
    </div>
</div>

<div class="modal" id="signup-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Sign up</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="field">
                <div class="control">
                    <input class="input" type="text" placeholder="Full name">
                </div>
            </div>
            <div class="field">
                <p class="control has-icons-left has-icons-right">
                    <input class="input" type="email" placeholder="Email">
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                    <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control has-icons-left">
                    <input class="input" type="password" placeholder="Password">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </p>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-info" id="signup-save-button">Save changes</button>
            <button class="button cancel-button">Cancel</button>
        </footer>
    </div>
</div>