<table class="table">
    <tr="heading">
        <th id="Medianame">Name</th>
        <th id="Media Type">Media Type</th>
        <th id="Genre">Genre</th>
        <th id="Rating">Rating</th>
        <th id="Release Year">Year</th>
        <th id="Time-Limit">Due Date</th>
        <th id="Cost">Amount Due</th>
        </tr>

        <tr>
            <th id="Medianame">Harry Potter and the Deathly Hallows</th>
            <th id="Media Type">Books</th>
            <th id="Genre">Children's Books</th>
            <th id="Rating">4.99</th>
            <th id="Release Year">2007</th>
            <th id="Time-Limit">05-25-2018</th>
            <th id="Cost">0.00</th>
        </tr>
        <tr>
            <th id="Medianame">Harry Potter and the Deathly Hallows</th>
            <th id="Media Type">Books</th>
            <th id="Genre">Children's Books</th>
            <th id="Rating">4.99</th>
            <th id="Release Year">2007</th>
            <th id="Time-Limit">05-25-2018</th>
            <th id="Cost">0.00</th>
        </tr>
        <tr>
            <th id="Medianame">Harry Potter and the Deathly Hallows</th>
            <th id="Media Type">Books</th>
            <th id="Genre">Children's Books</th>
            <th id="Rating">4.99</th>
            <th id="Release Year">2007</th>
            <th id="Time-Limit">05-25-2018</th>
            <th id="Cost">0.00</th>
        </tr>
        <tr>
            <th id="Medianame">Harry Potter and the Deathly Hallows</th>
            <th id="Media Type">Books</th>
            <th id="Genre">Children's Books</th>
            <th id="Rating">4.99</th>
            <th id="Release Year">2007</th>
            <th id="Time-Limit">05-25-2018</th>
            <th id="Cost">0.00</th>
        </tr>
        <tr>
            <th id="Medianame">Harry Potter and the Deathly Hallows</th>
            <th id="Media Type">Books</th>
            <th id="Genre">Children's Books</th>
            <th id="Rating">4.99</th>
            <th id="Release Year">2007</th>
            <th id="Time-Limit">05-25-2018</th>
            <th id="Cost">0.00</th>
        </tr>
        <tr>
            <th id="Medianame">Harry Potter and the Deathly Hallows</th>
            <th id="Media Type">Books</th>
            <th id="Genre">Children's Books</th>
            <th id="Rating">4.99</th>
            <th id="Release Year">2007</th>
            <th id="Time-Limit">05-25-2018</th>
            <th id="Cost">0.00</th>
        </tr>
        <tr>
            <th id="Medianame">Harry Potter and the Deathly Hallows</th>
            <th id="Media Type">Books</th>
            <th id="Genre">Children's Books</th>
            <th id="Rating">4.99</th>
            <th id="Release Year">2007</th>
            <th id="Time-Limit">05-25-2018</th>
            <th id="Cost">0.00</th>
        </tr>
        <tr>
            <th id="Medianame">Harry Potter and the Deathly Hallows</th>
            <th id="Media Type">Books</th>
            <th id="Genre">Children's Books</th>
            <th id="Rating">4.99</th>
            <th id="Release Year">2007</th>
            <th id="Time-Limit">05-25-2018</th>
            <th id="Cost">0.00</th>
        </tr>
        <tr>
            <th id="Medianame">Harry Potter and the Deathly Hallows</th>
            <th id="Media Type">Books</th>
            <th id="Genre">Children's Books</th>
            <th id="Rating">4.99</th>
            <th id="Release Year">2007</th>
            <th id="Time-Limit">05-25-2018</th>
            <th id="Cost">0.00</th>
        </tr>
        <tr>
            <th id="Medianame">Harry Potter and the Deathly Hallows</th>
            <th id="Media Type">Books</th>
            <th id="Genre">Children's Books</th>
            <th id="Rating">4.99</th>
            <th id="Release Year">2007</th>
            <th id="Time-Limit">05-25-2018</th>
            <th id="Cost">0.00</th>
        </tr>

</table>

<div class="modal" id="login-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Login</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="field">
                <p class="control has-icons-left has-icons-right">
                    <input class="input" type="email" placeholder="Email">
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                    <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control has-icons-left">
                    <input class="input" type="password" placeholder="Password">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </p>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-info" id="login-save-button">Save changes</button>
            <button class="button cancel-button">Cancel</button>
        </footer>
    </div>
</div>

<div class="modal" id="signup-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Sign up</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="field">
                <div class="control">
                    <input class="input" type="text" placeholder="Full name">
                </div>
            </div>
            <div class="field">
                <p class="control has-icons-left has-icons-right">
                    <input class="input" type="email" placeholder="Email">
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                    <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control has-icons-left">
                    <input class="input" type="password" placeholder="Password">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </p>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-info" id="signup-save-button">Save changes</button>
            <button class="button cancel-button">Cancel</button>
        </footer>
    </div>
</div>
