{{#if transactions}}
  {{#each transactions}}
    <p>
      ${{amount}}.00 {{type}}
    </p>
  {{/each}}
{{else}}
  <h3>No Transactions.</h3>
{{/if}}
<script>
  $("signup-button").addClass("is-disabled");
  $("login-button").addClass("is-disabled");
</script>