
.hero {
    max-height: 200px;
}
.table {

    width:100%;

    background: linear-gradient(rgb(150, 119, 168), rgb(173, 228, 230));
}

#heading{
    text-align:center;
}

/* Modal Content/Box */
.modal-content {
    color: white;
    background-color: black;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid rgb(190, 190, 190);
    width: 80%; /* Could be more or less, depending on screen size */
}

.fix-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    max-height: 50px;
    overflow:hidden;
}
@media all and (max-width: 520px) {
    .hero-body {
        position: relative;
        max-height: 200px;
        margin-bottom: 40px;
        top: 20px;
        width: 100%;

    }
    #signin-button, 
    #login-button {
        position: relative;
        left: 0;
    }
    #navView {
        position: absolute;
    }
    table {
        max-width: 100%;
    }
}

.popular-searches{
    max-height: 600px;
}